@model RedirectViewModel

<h1>Agora você está retornando ao aplicativo.</h1>
<p>Depois de concluído, você pode fechar esta guia</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
