:host ::ng-deep{
    > div{
        height: 100%;
    }
    #topbar{
        background: #cacaca;
        padding: 0 8px;
        h1,h2,h3,h4,h5,h6,p {
            margin: 0;
        }
        #logo{
            display: flex;
            align-items: center;
        }
    }
    mat-drawer-container{
        display: flex;
        flex: 1;
        .drawer-content{
            padding: 4px;
            .list-sidenav a{
                display: flex;
                align-items: center;
                place-content: space-between;
                text-decoration: none;
                mat-icon {
                    margin-right: 8px;
                }
            }
        }
        mat-drawer-content{
            width: 100%;
            padding: 8px;
            overflow: auto;
        }
    }
}
