<form fxLayout="row wrap" [formGroup]="registerForm">
    <h2 fxFlex="100">Editar dados</h2>
    <mat-form-field fxFlex="100" fxFlex.gt-md="50">
        <input matInput placeholder="Nome" required formControlName="firstName">
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-md="50">
        <input matInput placeholder="Sobrenome" required formControlName="lastName">
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-md="50">
        <input matInput placeholder="CPF" required formControlName="cpf" mask="000.000.000-00"
            [dropSpecialCharacters]="true">
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-md="50">
        <input matInput placeholder="Email" required formControlName="email">
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-md="50">
        <input matInput placeholder="Senha antiga" required formControlName="oldPassword" type="password">
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-md="50">
        <input matInput placeholder="Nova senha" required formControlName="newPassword" type="password">
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-md="50">
        <input matInput placeholder="Confirme sua Senha" required formControlName="confirmPassword" type="password">
    </mat-form-field>
    <p fxFlex="100" *ngIf="registerForm.get('confirmPassword').value &&
        registerForm.get('newPassword').value !== registerForm.get('confirmPassword').value">
        As senhas não combinam!</p>
    <p fxFlex="100" *ngIf="registerForm.get('oldPassword').value &&
        registerForm.get('newPassword').value === registerForm.get('oldPassword').value">
        As senhas antiga e nova não podem ser iguais!</p>
    <div fxFlex="100" fxLayoutAlign="flex-end center" style="padding: 0 16px 16px 0">
        <a style="padding-right:16px;" routerLink="/home">Cancelar</a>
        <button fxFlex.xs="100" color="primary" (click)="save()" [disabled]="registerForm.invalid"
            mat-raised-button>Salvar</button>
    </div>
</form>